<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info Bear</title>
</head>
<body>
    <h1>Tìm gấu mùa đông</h1>
    
    
        <div>
            
            <img src= "{{find_id.image}}" style="width:200px;height:200px" alt="???">
            <br>
            <p><b>Tên : {{find_id.name}} </p></b>
            <p>Giới tính : {{find_id.gender}} </p>
           
        
            <p>Chiều cao : {{find_id.height}} </p>

            <p>Địa chỉ : {{find_id.address}} </p>
            
            <p>Yob : {{find_id.yob}} </p>

            <p>Phone : {{find_id.phone}}</p>

            <p><b>Mô tả : {{find_id.description}}</p></b>

            <p>Số đo 3 vòng : {{find_id.measurements}}</p>
        </div>
    
</body>
</html>