<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dèfault Value</title>
</head>
<body>
    <h1>Update your information</h1>
    <form method="POST">
        <label>
            Name:
            <input type="text" name="name" value = "Tú Linh" >
        </label>
        <label>
            Năm sinh:
            <input type="text" name="yob" value = "1994" >
        </label>

        <button type="submit">Cập nhật</button>
    </form>
</body>
</html>