<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mùa đông không lạnh</h1>
    <a href="{{url_for('searchinfo', gender = 1)}}">Chạm vào anh đi!!!</a>
    <br>
    <br>
    <a href="{{url_for('searchinfo', gender = 0)}}">Chạm vào em đi!!!</a>
    <br>
    <br>
    <!-- <a href="{{url_for('customer', gender = 1)}}">10 males Customer</a> -->
    <br>
    <br>
   
    
</body>
</html>