<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Service</title>
</head>
<body>
    <h1>New Service</h1>
    <form method = "POST">
        <label>Tên: </label>
        <input type="text" name="name">
        <br>
        <br>
        <label>Yob: </label>
        <input type="text" name="yob">
        <br>
        <br>
        <label>Đ/c: </label>
        <input type="text" name = "address">
        <br>
        <br>
       
 <input type="radio" name="gender" value = "1"  checked> Male<br>
 <br>
  <input type="radio" name="gender" value= "0" > Female<br>
  <br>
  


        <button type="submit" >Submit</button>

    </form>
</body>
</html>
