<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info Bear</title>
</head>
<body>
    <h1>Tìm gấu mùa đông</h1>
    
    {% for service in all_service %}
        <div>

            <i>
                {%if service.gender == 1%}
            <img src= "../static/image/male-profile.jpg" alt="???">
            {%else%}
            <img src= "../static/image/female-profile.jpg" alt="???">
            <p>{{service.gender}} </p>
            {%endif%}
            </i> 
            <p>Chiều cao : {{service.height}} </p>
            <p>Yob : {{service.yob}} </p>
            <a href="{{ url_for('detail', service_id = service.id) }}">More info</a>
        </div>
       {%endfor%}
</body>
</html>