<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info Bear</title>
</head>
<body>
    <h1>Tìm gấu mùa đông</h1>
    
    {% for sv in all_service %}
        <div>
            <p>Tên : {{sv.name}} </p>

            <i>
                {%if sv.gender == 1%}
            <img src= "../static/image/male-profile.jpg" alt="???">
            {%else%}
            <img src= "../static/image/female-profile.jpg" alt="???">
            <p>Giới tính : {{sv.gender}} </p>
            {%endif%}
            </i> 

            <p>Chiều cao : {{sv.height}} </p>

            <p>Địa chỉ : {{sv.address}} </p>
            
            <p>Yob : {{sv.yob}} </p>
        </div>
    {%endfor%}
</body>
</html>