<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update service</title>
</head>
<body>
    <h1>Update service</h1>
    <form method="post">
            <label>Tên</label>
            <input type="text" name="name" value="{{ find_id.name }}">
    
            <label>Yob</label>
            <input type="text" name="yob" value="{{ find_id.yob }}">
    
            <label>Address</label>
            <input type="text" name="address" value="{{ find_id.address }}">

            {% if find_id.gender == 0 %}
                <label><input type="radio" name="gender" value="1">Male</label>
    
                <label><input type="radio" name="gender" value="0" checked>Female</label>
            {% else %}
                <label><input type="radio" name="gender" value="1" checked>Male</label>
    
                <label><input type="radio" name="gender" value="0" >Female</label>
            {% endif %}
            <button type="submit">Update</button>
        </form>
        
</body>
</html>