<div class="h-450px w-100px ">
        <h4 class="h-20 w-100 text-dark d-flex align-items-center justify-content-center">
            Các gói dịch vụ
        </h4>
        <div class="h-80 w-100 d-flex justify-content-center">
            <div class="h-100 w-30 mx-3">
                <div class="h-20 w-100 bg-secondary d-flex px-4 align-items-center border">
                    <h5 class="text-light">Gói cùi bắp</h5>
                </div>
                <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                    <h6>Hẹn hò và ăn cơm cùng gia đình</h6>
                    <h6>Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</h6>
                    <h6>Không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                </div>
                <div class="h-20 w-100 d-flex justify-content-center align-items-center px-4 border">
                    <button type="button" class="btn btn-dark w-75 h-50">
                        Tìm hiểu thêm
                        <i class="fas fa-heart mx-1"></i>
                    </button>
                </div>
            </div>
            <div class="h-100 w-30 mx-3">
                <div class="h-20 w-100 bg-secondary d-flex px-4 align-items-center border">
                    <h5 class="text-light">Gói tiêu chuẩn</h5>
                </div>
                <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                    <h6>Hẹn hò và ăn cơm cùng gia đình</h6>
                    <h6>Cho phép nắm tay thể hiện tình cảm</h6>
                    <h6>Xưng hô thân mật</h6>
                    <h6>Không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                </div>
                <div class="h-20 w-100 d-flex justify-content-center align-items-center px-4 border">
                        <button type="button" class="btn btn-dark w-75 h-50">                           
                            Tìm hiểu thêm
                            <i class="fas fa-heart mx-1"></i>
                        </button>
                    </div>
            </div>
            <div class="h-100 w-30 mx-3">
                <div class="h-20 w-100 bg-dark d-flex px-4 align-items-center border">
                    <h5 class="text-light">Gói cao cấp</h5>
                </div>
                <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                    <h6>Full chức năng của 2 gói trước</h6>
                    <h6>Được phép ôm và hôn nhẹ khi cảm thấy cô đơn vãi xoài</h6>   
                    <h6 class="text-primary">Cảm thấy ổn thì tới bến luôn cũng được ♥</h6>
                </div>
                <div class="h-20 w-100 d-flex justify-content-center align-items-center px-4 border">
                        <button type="button" class="btn btn-dark w-75 h-50">
                            Tìm hiểu thêm
                            <i class="fas fa-heart mx-1"></i>
                        </button>
                    </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="bg-dark h-70px w-100 d-flex align-items-center justify-content-center text-light mt-4">
            <h5>Được thực hiện bởi Mạnh đz (C4E18 - Techkids)</h5>
        </div>