 <h4 class="h-20 w-100 text-dark d-flex align-items-center justify-content-center mt-5">
            Khách hàng bình chọn
        </h4>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="bg-vote1 h-150px w-150px mx-4 mb-4 border border-light rounded"></div>
            <div class="bg-vote2 h-150px w-150px mx-4 mb-4 border border-light rounded"></div>
            <div class="bg-vote3 h-150px w-150px mx-4 mb-4 border border-light rounded"></div>
            <div class="bg-vote4 h-150px w-150px mx-4 mb-4 border border-light rounded"></div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
            <div class="bg-vote5 h-150px w-150px mx-4 border border-light rounded"></div>
            <div class="bg-vote6 h-150px w-150px mx-4 border border-light rounded"></div>
            <div class="bg-vote7 h-150px w-150px mx-4 border border-light rounded"></div>
            <div class="bg-vote8 h-150px w-150px mx-4 border border-light rounded"></div>
        </div>
 