<div class="h-200px w-100 d-flex flex-wrap bg-nhat">
        <div class="h-30 w-100 border">
            <h4 class="mx-5 d-flex pt-3">Lựa chọn của bạn</h4>
        </div>
        <div class="h-70 w-100 d-flex">
                <div class="h-100 w-75 d-flex flex-wrap">
                    <div class="h-100 w-50 d-flex justify-content-start align-content-around flex-wrap">
                        <div class="w-100 h-50 d-flex justify-content-start align-items-center mx-4">
                                Cần tìm :
                                <select class="selectpicker ml-5">
                                        <option>Bạn Trai</option>
                                        <option>Bạn gái</option>
                                </select>
                                      
                        </div>
                        <div class="w-100 h-50 d-flex justify-content-start align-items-center mx-4">
                                Mục đích :
                                <select class="selectpicker mx-4">
                                        <option>Đi chơi/ăn</option>
                                        <option>Ra mắt gia đình</option>
                                        <option>Đi phượt</option>
                                        <option>Tâm sự thầm kín</option>
                                        
                                </select>
                                      
                        </div>
                    </div>
                    <div class="h-100 w-50 border-right">
                            <div class="w-100 h-50 d-flex justify-content-start align-items-center mx-4">
                                    Độ tuổi :
                                    <select class="selectpicker ml-5">
                                            <option>16-18</option>
                                            <option>18-24</option>
                                            <option>>24</option>
                                            
                                    </select>
                                          
                            </div>
                            <div class="w-100 h-50 d-flex justify-content-start align-items-center mx-4">
                                    Địa phương :
                                    <select class="selectpicker mx-4">
                                            <option>Ăn chơi Miền Bắc</option>
                                            <option>Ăn chơi Miền Trung</option>
                                            <option>Ăn chơi Miền Nam</option>
                                            
                                            
                                    </select>
                                          
                            </div>
                    </div>
                </div>
                <div class="h-100 w-25 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-dark">Bắt đầu tìm kiếm</button>
                </div>
        </div>
        
    </div>